<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Controlador</servlet-name>
        <servlet-class>Controlador.Controlador_Usuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlador_Asignatura</servlet-name>
        <servlet-class>Controlador.Controlador_Asignatura</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlador_Carrera</servlet-name>
        <servlet-class>Controlador.Controlador_Carrera</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Controlador.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contolador_Admin_Inicio</servlet-name>
        <servlet-class>Controlador.Contolador_Admin_Inicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlador_Asistencia</servlet-name>
        <servlet-class>Controlador.Controlador_Asistencia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlador_Estado</servlet-name>
        <servlet-class>Controlador.Controlador_Estado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlador_Grado</servlet-name>
        <servlet-class>Controlador.Controlador_Grado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlador_Grupo</servlet-name>
        <servlet-class>Controlador.Controlador_Grupo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlador_Horario</servlet-name>
        <servlet-class>Controlador.Controlador_Horario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlador_Miembro</servlet-name>
        <servlet-class>Controlador.Controlador_Miembro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlador_Periodo</servlet-name>
        <servlet-class>Controlador.Controlador_Periodo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlador_Pregunta</servlet-name>
        <servlet-class>Controlador.Controlador_Pregunta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlador_Registro</servlet-name>
        <servlet-class>Controlador.Controlador_Registro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlador_Respuesta</servlet-name>
        <servlet-class>Controlador.Controlador_Respuesta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlador_Rol</servlet-name>
        <servlet-class>Controlador.Controlador_Rol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlador_Turno</servlet-name>
        <servlet-class>Controlador.Controlador_Turno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlador_Index</servlet-name>
        <servlet-class>Controlador.Controlador_Index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controlador.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controlador</servlet-name>
        <url-pattern>/Controlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlador_Asignatura</servlet-name>
        <url-pattern>/Controlador_Asignatura</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlador_Carrera</servlet-name>
        <url-pattern>/Controlador_Carrera</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contolador_Admin_Inicio</servlet-name>
        <url-pattern>/Contolador_Admin_Inicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlador_Asistencia</servlet-name>
        <url-pattern>/Controlador_Asistencia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlador_Estado</servlet-name>
        <url-pattern>/Controlador_Estado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlador_Grado</servlet-name>
        <url-pattern>/Controlador_Grado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlador_Grupo</servlet-name>
        <url-pattern>/Controlador_Grupo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlador_Horario</servlet-name>
        <url-pattern>/Controlador_Horario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlador_Miembro</servlet-name>
        <url-pattern>/Controlador_Miembro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlador_Periodo</servlet-name>
        <url-pattern>/Controlador_Periodo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlador_Pregunta</servlet-name>
        <url-pattern>/Controlador_Pregunta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlador_Registro</servlet-name>
        <url-pattern>/Controlador_Registro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlador_Respuesta</servlet-name>
        <url-pattern>/Controlador_Respuesta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlador_Rol</servlet-name>
        <url-pattern>/Controlador_Rol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlador_Turno</servlet-name>
        <url-pattern>/Controlador_Turno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlador_Index</servlet-name>
        <url-pattern>/Controlador_Index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
